<%# Copied from Spree gem (app/views/checkout/_delivery.html.erb) and modified. %>

<fieldset id='shipping_method'>
  <h3>SHIPPING METHOD</h3>
  <div class="inner">
    <div id="methods">
      <p>
        <% @order.rate_hash.each do |shipping_method| %>
          <label>
            <%= radio_button(:order, :shipping_method_id, shipping_method[:id]) %>
            <%= shipping_method[:name] %> <%= number_to_currency shipping_method[:cost] %>
          </label><br />
        <% end %>
      </p>
    </div>
    <% if Spree::Config[:shipping_instructions] && @order.rate_hash.present? %>
      <p id="minstrs">
        <%= form.label :special_instructions, t("shipping_instructions") %><br />
        <%= form.text_area :special_instructions, :cols => 40, :rows => 7 %>
      </p>
    <% end %>
  </div>
</fieldset>

<%= @order.australia? && @order.total > 1000 ? t(:order_over_1000) : "" %>

<hr class="space" />
<button type='submit' style="float:right;">
  <div class="reversed">
  CONTINUE
  </div>
</button>
