<%# copied from spree gem .../checkout/edit %>

<% content_for :head do %>
  <%= javascript_include_tag  'checkout', '/states' %>
<% end %>

<% content_for :post_header do %>
  <div id="banner-small">
    <img src="/images/banner-small.jpg" />
  </div>
<% end %>

<div id="page-pics">
  <img src="/images/retail-pic1.jpg" />
  <img src="/images/retail-pic2.jpg" />
</div>

<div id="page-body">

  <div id="checkout">

    <%= checkout_progress %>
    <br clear="left" />

    <% if flash.notice # borrowed from spree_core-0.50.2\app\views\layouts\spree_application.html.erb %>
    <div class="flash notice"><%= flash.notice %></div>
    <% end %>
    <% if flash[:error] %>
    <div class="flash errors"><%= flash[:error] %></div>
    <% end %>

    <%= render "shared/error_messages", :target => @order %>
    <%= form_for @order, :url => update_checkout_path(@order.state), :html => { :id => "checkout_form_#{@order.state}" } do |form| %>
      <%= render @order.state, :form => form %>
      <input id="post-final" type="submit" style="display:none"/>
    <% end %>
  </div>
</div>

<%#= render :partial => 'shared/twitter_column'%>

<%= hook :checkout_summary_box do %>
  <div id="checkout-summary">
    <%= render 'summary', :order => @order %>
  </div>
<% end %>
