<% content_for :post_header do %>
  <div id="banner-small">
    <img src="/images/banner-small.jpg" />
  </div>
<% end %>

<div id="page-pics">
  <img src="/images/retail-pic1.jpg" />        <%# TBD: use specific images %>
  <img src="/images/retail-pic2.jpg" />
</div>

<%= render "shared/error_messages", :target => @user %>

<div id="shopping-cart">
  <!-- <h1>LOG IN</h1> -->
  
  <!-- <div id="account">
    <%= render "shared/login" %>
  </div> -->
  
  <% if Spree::Config[:allow_guest_checkout] %>
    <div id="guest_checkout">
      <br />
      <%= render "shared/error_messages", :target => @order %>
      <h1>Email address</h1>
      <p>Please enter your email address.</p>
      
      <%= form_for @order, :url => update_checkout_registration_path, :html => { :method => :put, :id => "checkout_form_registration"} do |f| %>
        <p>
          <!-- <%= f.label :email, t("email") %><br /> -->
          <%= f.text_field :email, :class => 'title'  %>
        </p>
        <hr class="space" />
        <button type='submit' style="float:right;">
          <div class="reversed">
          CONTINUE
          </div>
        </button>
      <% end %>
    </div>
  <% end %>
</div>