<table>
  <tr>
    <td>Name</td>
    <td><%= f.text_field :name, :size => 60 %></td>
  </tr>  
  <tr>
    <td>URL</td>
    <td><%= f.text_field :url, :size => 60 %></td>
  </tr>
  <tr>
    <td>Country</td>
    <td><%= f.text_field :country, :size => 60 %></td>
  </tr>
  <tr>
    <td>Region</td>
    <td><%= f.text_field :region, :size => 60 %></td>
  </tr>
  <tr>
    <td>Category</td>
    <td><%= f.text_field :category, :size => 60 %></td>
  </tr>
</table>
