<% # Copied from \spree-0.11.0\vendor\extensions\theme_default\app\views\orders\edit.html.erb and edited
   # Then edited some more based on spree_core-0.50.0\app\views\orders\edit.html.erb
%>
<!--Based on http://www.jankoatwarpspeed.com/post/2009/07/28/reinventing-drop-down-with-css-jquery.aspx-->
    <script type="text/javascript">
        $(document).ready(function() {
            $(".dropdown dt a").click(function() {
                $(".dropdown dd ul").toggle();
            });
                        
            $(".dropdown dd ul li a").click(function() {
                var text = $(this).html();
                $(".dropdown dt a span").html(text);
                $(".dropdown dd ul").hide();
                $("#delivery-price").html($("#sample").find("dt a span.value").html());
                $("#GST").html($("#sample").find("dt a span.GST-value").html());
                $("#Grand-total").html($("#sample").find("dt a span.total-value").html());
            });
                        
            function getSelectedValue(id) {
                return $("#" + id).find("dt a span.value").html();
            }

            $(document).bind('click', function(e) {
                var $clicked = $(e.target);
                if (! $clicked.parents().hasClass("dropdown"))
                    $(".dropdown dd ul").hide();
            });
        });
    </script>

<div id="banner-small">
  <img src="/images/banner-small.jpg" />
</div>

<div id="page-pics">
  <img src="/images/cart-pic1.jpg" />
  <img src="/images/cart-pic2.jpg" />
</div>

<div id="shopping-cart">
  
  <% @body_id = 'cart' %>
  
  <h2>SHOPPING CART</h2>
  <h3>Do you have everything you need?<br /><br /></h3>

  <%# form_for(@order, :url => object_url, :html => { :method => :put, :id => 'updatecart' }) do |order_form| %>
  <%= form_for @order, :url => update_cart_path, :html => { :id => 'updatecart' } do |order_form| %>
    <table id="cart-detail">

      <%= render :partial => 'form', :locals => {:order_form => order_form} %>
      
      <% if (volume_discount = @order.volume_discount) != 0 %>
        <tr>
          <td colspan="4"><b>Volume discount</b></td>
          <td class="total"><%= number_to_currency(@order.volume_discount, :precision => 2) %></td>
        </tr>
      <% end %>
      
      <% if @order.line_items.any? %>
        <tr>
          <td colspan="4"><b>Sub-total</b></td>
          <td class="total"><%= order_price(@order) %></td>
        </tr>
      <% end %>

      <% @order.adjustments_with_tax_last.each do |adjustment| %>
        <tr>
          <td colspan="4"><%= adjustment.label %></td>
          <td class="total"><%= number_to_currency adjustment.amount %></td>
        </tr>
      <% end %>

      <tr>
        <td><b>Country</b></td>
        <td colspan="3"><%= active_country.name %></td>
        <td></td>
      </tr>

      <tr>
        <td colspan=4><b>Total</b></td>
        <td class="total" id="Grand-total">
          <%= @order.currency %>
          <%= number_to_currency(@order.total, :precision => 2) %>
        </td>
      </tr>
    </table>

    <div class="links">
      <% unless @order.line_items.empty? -%>

          <p>Shipping costs <%= !@order.australia? ? "and GST " : ""%>are calculated during checkout.</p>

          <%#= link_to image_tag('/images/update.png') + t("update"), '#', :class => 'reversed', :onclick => "$('form#updatecart').submit(); return false;" %>
          <%= link_to "CHECKOUT", checkout_path, :class => 'reversed', :style => 'float:right;' %>
      <% end -%>
      <p><%= link_to "CONTINUE SHOPPING", root_path, :class => 'reversed', :style => 'float:right;' %></p>
    </div>

  <% end -%>
</div>
