<div id="banner-small">
  <img src="/images/banner-small.jpg" />
</div>

<div id="page-pics">
  <img src="/images/re_selling_bags-pic1.jpg" />
  <img src="/images/re_selling_bags-pic2.jpg" />
</div>

<div id="page-body">
  <% @active_item = 3 %>
  <%= render :partial => 'shared/page_menu_wholesale'%>
  
  <h1>WHOLESALE</h1>  
  <p>
  Our aim is to provide 100% fair trade organic T&#8209;shirts and bags for people and companies to use
  as a blank canvas to apply their ideas to.
  </p>

  <h2>RE-SELLING BAGS</h2>
  <p>
  Are you a retailer looking for a new range with a point of difference?
  Check out our range <%= link_to "here", "/docs/Stock Guide 2011 Pictorial Liminal.pdf", :target => '_blank' %>, or contact us directly to talk
  to one of our team to see if Freeset bags will work in your retail space.
  Also check out our current <%= link_to "retailers", "/shop/retail" %> to see
  who currently stocks Freeset bags and T&#8209;shirts.
  </p>
  <p>
    <%= link_to "Download catalogue", "/docs/Stock Guide 2011 Pictorial Liminal.pdf", :target => '_blank' %>.
  </p>
</div>

<%= render :partial => 'shared/twitter_column'%>
