<div id="banner-small">
  <img src="/images/banner-small.jpg" />
</div>

<div id="page-pics">
  <img src="/images/re_selling_bags-pic1.jpg" />
  <img src="/images/re_selling_bags-pic2.jpg" />
</div>

<div id="page-body">
  <% @active_item = 3 %>
  <%= render :partial => 'shared/page_menu_wholesale'%>
  
  <h1>RE-SELLING BAGS</h1>
  <p>
  Are you a retailer looking for a new range with a point of difference?
  <%= link_to "Contact us", "/shop/contact" %> directly to talk to one
  of our team to see if Freeset bags will work in your retail space.
  Here's a list of our current <%= link_to "retailers", "/shop/retail" %> to see
  who currently stocks Freeset products in your area.
  </p>
  <p>
    Check out our range <%= link_to "here", "/t/categories/bags" %>, or <%# TBD: link should go to bags %>
    <%= link_to "download catalogue", "/docs/Stock Guide 2011 Pictorial Liminal.pdf", :target => '_blank' %>.
  </p>
</div>

<%= render :partial => 'shared/twitter_column'%>
