<div id="banner-small">
  <img src="/images/banner-small.jpg" />
</div>

<div id="page-pics">
  <img src="/images/t-shirts-pic1.jpg" />
  <img src="/images/t-shirts-pic2.jpg" />
</div>

<div id="page-body">
  <% @active_item = 1 %>
  <%= render :partial => 'shared/page_menu_wholesale'%>
  
  <h1>T-SHIRTS</h1>
  <p>
  Do your run of tee’s with a point of difference.
  We only use 100% fair trade, organic, T&#8209;shirts ready for you to apply your ideas to.
  Our shop automatically adjusts the wholesale price depending on your order quantity.
  <%= link_to "Want samples?", "/" %>
  Feel free to <%= link_to "contact us", "/shop/contact" %> directly to talk to one of our team.
  Buy just the blanks or let us sort out the printing too. It’s up to you.
  </p>

  <%= render :partial => 'shop/volume_discounts' %>

</div>

<%= render :partial => 'shared/twitter_column'%>
