<%# Overrides the standard show view so we can do something completely different for T-shirts versus other products. %>
<%# @sc_matrix contains stuff only if we're dealing with T-shirts (actually any product with size and colour variants). %>

<% if @sc_matrix %>
  <% gender = @sc_matrix['gender'] == 'Male' ? 'mens' : 'womens' %>

  <% content_for :extra_head_stuff do %>
    <%= javascript_tag do %>
      var gender = '<%= gender %>';
    <% end %>
    
    <%= javascript_include_tag "liminal/t-shirts.js" %>
  <% end %>

  <div id="banner-small">
    <img src="/images/banner-small.jpg" alt="" />
  </div>
  
  <div id="main-T-shirt-area">
    <div id="product-info">
      <div class="reversed">
        <% if gender == 'mens' %>
          MEN&#8217;S T-SHIRTS
        <% else %>
          WOMEN&#8217;S T-SHIRTS
        <% end %>
      </div>
      
      <h2>DETAILS</h2>
      <ul>
        <li>150 GSM 100% Fair trade Organic Cotton</li>
        <li>Shoulder to shoulder tape</li>
        <li>Fabric pre-shrunk to minimise shrinkage</li>
        <li>Double needle bottom hem and sleeves</li>
        <li>Extra long body, side seamed for a tailored fit.</li>
      </ul>
      
      <h2>DESCRIPTION</h2>
      <p>
        <% if gender == 'mens' %>
        This is a classic cut tee, designed to fit most body types.  Whether you’re a high fashion model
        or a front row prop, this is the tee for you.  Even though we call it a men’s tee, it’s also unisex.
        <% else %>
        Nicely fitted with a scoop neck, capped sleeves, and a long body, it’s a must in every wardrobe.
        <% end %>
      </p>

      <%#
      <h2>PRICING &amp; DELIVERY</h2>
      <p>
        Our T&#8209;shirts are <%= number_to_currency @product.price %> <%# each excl GST. For more information see
        our pricing &amp; delivery page.
      </p>
      %>

      <div class="footer"><div class="reversed">ORDER</div></div>
    </div>
    
    <div id="swatches">
      <%# The <br>s are to make IE7 behave (otherwise it puts extra space below each image). %>
      <%= image_tag "swatch-blue.png", :class => 'swatch', :alt => "" %><br />
      <%= image_tag "swatch-white.png", :class => 'swatch', :alt => "" %><br />
      <%= image_tag "swatch-brown.png", :class => 'swatch', :alt => "" %><br />
      <%= image_tag "swatch-black.png", :class => 'swatch', :alt => "" %><br />
      <%= image_tag "swatch-grey marl.png", :class => 'swatch', :alt => "" %><br />
      <%= image_tag "swatch-navy.png", :class => 'swatch', :alt => "" %><br />
      <%= image_tag "swatch-green.png", :class => 'swatch', :alt => "" %>
    </div>
    
    <div id="main-image">
      <%= image_tag "#{gender}-blue-1.jpg", :alt => "" %>
      
      <div class="footer">
        <div class="reversed caption">
          <%# The <img>s must come before the text to keep IE7 happy! %>
          <img class="thumbnail" src="/images/<%=gender%>-blue-1.jpg" alt="" />
          <img class="thumbnail" src="/images/<%=gender%>-blue-2.jpg" alt="" />
          <img class="thumbnail" src="/images/<%=gender%>-blue-3.jpg" alt="" />
          <span>BLUE</span>
        </div>
      </div>
    </div>
  </div>
  
  <div class="clear">
  </div>

  <% if shop_enabled %>
    <%= form_for :order, :url => populate_orders_url do |f| %>

      <div id="T-shirt-order">
        <table id="option-matrix">
            <% @sc_matrix['colors'].each do |c| -%>
            <tr>
                <th>
                    <div class="cell">
                        <img src="/images/swatch-<%=c.presentation.downcase%>.png" alt="" />
                    <p>
                        <%= c.presentation.upcase %>
                    </p>
                    </div>
                </th>
                <% @sc_matrix['sizes'].each do |s| -%>
                <td>
                    <% if @sc_matrix['variant_ids'][s.id.to_s + '_' + c.id.to_s] -%>
                        <div class="cell">
                            <p class="input_caption"><%= s.presentation %>
                            </p>
                            <input type="text" size="4" maxlength="4" name="variants[<%= @sc_matrix['variant_ids'][s.id.to_s + '_' + c.id.to_s] %>]" />

                        </div>
                    <% else -%>
                        <img src="/images/notavailable.jpg" alt="X" width="20" height="20"/> <%# TODO test %>
                    <% end -%>
                </td>
                <% end -%>
            </tr>
            <% end -%>
        </table>

        <div id="screen-printing-info">
          <p>
            <img src="/images/screen-printing-icon.png" alt="" />
            &nbsp;&nbsp;
            <b>SCREEN PRINTING</b>
            <%= check_box_tag :screen_printing %>
            Check here if you would like us to contact you about custom screen printing your order.
          </p>
        </div>

        <div class="reversed" style="float:left;">
            <%= link_to "MEASUREMENTS", "/shop/size" %>
        </div>

        <button type='submit' style="float:right;">
            <div class="reversed">
                    ADD TO CART <%= image_tag('/images/cart.png') %>
            </div>
        </button>

      </div>
    <% end %>
  <% else %> <%# shop is not enabled %>
    <h1><br/>Our online ordering is not open yet.  Please email any sales enquiries.</h1>
  <% end %>

<% else # original stuff for non-T-shirts
%>

  <% @body_id = 'product-details' %>
  <br/><h1><%= @product.name %></h1><br/>
  
  <div id="product-images">
    <div id="main-image">
      <%= render 'image' -%>
    </div>
    <div id="thumbnails">
      <%= render 'thumbnails', :product => @product -%>
    </div>
  </div>
  
  <div id="product-description">
    <%# hook :product_description do %>
      <%= product_description(@product) rescue t("product_has_no_description") %>
    <%# end %>
    <%# hook :product_properties do %>
      <%= render 'properties' %>
    <%# end %>
  </div>

  <%# hook :cart_form do %>
    <div id="cart-form">
      <%= render 'cart_form' %>
    </div>
  <%# end %>
  
  <%# render 'taxons' %>
<% end %>
