<%# This replaces :admin_configurations_menu in spree_core-0.50.4\app\views\admin\configurations\index.html.erb. %>
<%# See \lib\liminal_hooks.rb %>

<%# Order date is formatted as d mmm yy m:hh am/pm in our time zone %>
<%# Add order currency column. %>

<td><%= (@show_only_completed ? order.completed_at : order.created_at).in_time_zone.strftime("%-d %b %y, %-I:%M%P") %></td>
<td><%= link_to order.number, object_url(order) %></td>
<td><%= t("order_state.#{order.state.downcase}") %></td>
<td><%= link_to t("payment_states.#{order.payment_state}"), admin_order_payments_path(order) if order.payment_state %></td>
<td><%= link_to t("shipment_states.#{order.shipment_state}"), admin_order_shipments_path(order) if order.shipment_state %></td>
<td><%= order.email %></td>
<td><%= number_to_currency order.total %></td>
<td><%= order.currency %></td>
